@using Microsoft.JSInterop;
@inject IJSRuntime JS

<div class="form-control" @onclick="FocusInput">
    <tags class="it-tags-container">
        @if (_tags != null)
        {
            @foreach (var curTag in _tags.Select((tag, index) => (tag, index)))
            {
                <tag data-value="@curTag.tag.value" class="it-tag badge bg-primary">
                    <div class="it-tag-label">@curTag.tag.label</div>
                    <x class="it-tag-remove" role="button" aria-label="remove tag" @onclick="@(() => RemoveTag(curTag.index))"></x>
                </tag>
            }
        }
    </tags>
    <input type="text" id="@Id"
    @bind="TagInputText"
    @onkeyup="OnKeyUpDetected"
    @oninput="OnInputDetected"
    @ref="inputElement"
           placeholder="@Placeholder"
           autocomplete="off"
           class="it-noborder" />
    <span class="it-noborder it-hidden" @ref="textWidthElement"></span>
</div>

@code {
}
